<!DOCTYPE html>
{% load blog_tags %}
{% load staticfiles %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title_block %}{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Lato:400,900" rel="stylesheet">
    <link rel="stylesheet" href="{% static "css/styles.css" %}" type="text/css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
          integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
</head>
<body>
  <div class="container">
      <div class="m-nav">
        <ul class="nawigacja">
          <li><a href="#">Articles</a></li>
          <li><a href="#">Archives</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </div>
      {% block body_block %} {% endblock %}
      <div class="row">
          <div class="col-xs-6 col-md-6 col-lg-6">
              {% most_viewed_tag %}
          </div>
          <div class="col-xs-6 col-md-6 col-lg-6">
              {% newest_posts_tag %}
          </div>
      </div>
      <footer>
        <p>Copyright © 2016 Szymon Wąsiewski · <a href="#">Archives</a> · <a href="#">Search</a></p>
      </footer>
  </div>
</body>
</html>